<div>
  <input type="text" [(ngModel)]="query" (ngModelChange)="searchChange($event)" placeholder="Movie Search..." />
  <div *ngIf="movieSearchResults.length > 0 || tvSearchResults.length > 0" class="auto-complete-results">
    <ul>
      <li *ngFor="let item of movieSearchResults" (click)="selectItem(item)">
        {{item.title}} {{item.date}}
      </li>
      <li *ngFor="let item of tvSearchResults" (click)="selectItem(item)">
        {{item.title}} {{item.date}}
      </li>
    </ul>
  </div>

  <div *ngIf="selectedItem" class="selected-item">
      <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{selectedItem.posterPath}}" />
      {{selectedItem.title}}
      {{selectedItem.date}}
  </div>
</div>