<div>
  <div class="auto-complete">
    <input type="text" [ngModel]="query" (ngModelChange)="queryChanged.next($event)" placeholder="Movie / Tv Search..." />
    <div *ngIf="mediaSearchResults.length > 0" class="auto-complete-results">
      <ul>
        <li *ngFor="let item of mediaSearchResults" (click)="selectItem(item)">
          {{item.title}} {{item.date}} <span class="label">{{item.mediaType}}</span>
        </li>
      </ul>
    </div>
  </div>

  <div *ngIf="selectedItem" class="selected-item">
    <img src="https://image.tmdb.org/t/p/w650_and_h365_bestv2{{selectedItem.backdropPath}}" /> {{selectedItem.title}} {{selectedItem.date}}
  </div>
</div>