<div>
  <div class="auto-complete">
    <input type="text" [ngModel]="query" (ngModelChange)="queryChanged.next($event)" placeholder="Movie / Tv Search..." />
    <div *ngIf="mediaSearchResults.length > 0" class="auto-complete-results">
      <ul>
        <li *ngFor="let item of mediaSearchResults" (click)="selectItem(item)">
          {{item.title}} {{item.date}} <span class="label">{{item.mediaType}}</span>
        </li>
      </ul>
    </div>
  </div>

  <div *ngIf="selectedItem" class="selected-item">
    <div class="image">
      <img *ngIf="selectedItem.posterPath" src="https://image.tmdb.org/t/p/w342{{selectedItem.posterPath}}" />
    </div>
    {{selectedItem.title}} {{selectedItem.date}}
  </div>
</div>