<div class="comparison">
  <div>
    <movie-selector (onSelected)="selectMovie('a', $event)"></movie-selector>

    <div *ngFor="let cast of aMovieOnlyCast">
      <person [person]="cast"></person>
    </div>
    
  </div>
  <div>
    <h1>Actors in Common</h1>

    <div *ngFor="let cast of sharedCast">
      <person [person]="cast"></person>
    </div>
  </div>
  <div>
    <movie-selector (onSelected)="selectMovie('b', $event)"></movie-selector>
    <div *ngFor="let cast of bMovieOnlyCast" class="cast">
      <person [person]="cast"></person>
    </div>
  </div>
</div>