<h1>Actor Connections</h1>

<div class="comparison">
  <div>
    <movie-selector [selectedItem]="aMedia" (onSelected)="onSelectMedia('a', $event.mediaType, $event.id)"></movie-selector>

    <div *ngFor="let cast of aMediaOnlyCast">
      <person [person]="cast"></person>
    </div>

  </div>
  <div>
    <h2>Actors in Common</h2>

    <div *ngFor="let cast of sharedCast">
      <person [person]="cast"></person>
    </div>
  </div>
  <div>
    <movie-selector [selectedItem]="bMedia" (onSelected)="onSelectMedia('b', $event.mediaType, $event.id)"></movie-selector>
    <div *ngFor="let cast of bMediaOnlyCast" class="cast">
      <person [person]="cast"></person>
    </div>
  </div>
</div>