html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: #444;
    color: #eee;
}

ul, ol, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

input[type=text] {
    width: 100%;
    font-size: 1.5em;
}

h1 {
    margin: 0;
    font-weight: normal;
}

.comparison {
    display: flex;
}

.comparison > div {
    flex-grow: 1;
    padding: 10px;
    margin: 10px;
    width: 33%;
    background-color: #333;
}

.auto-complete-results {
    position: fixed;
    width: 200px;
    background-color: #555;
}

.auto-complete-results li {
    padding: 5px;
    cursor: pointer;
    overflow-x: hidden;
}

.auto-complete-results li:hover {
    background-color: #666;
}

.selected-item {
    background-color: #111;
    padding: 10px;
    font-weight: bold;
    margin: 5px 0;
}

.selected-item img {
    display: block;
    max-width: 100%;
    border: 2px solid #eee;
    margin-bottom: 5px;
}

.person {
    width: 132px;
    margin: 5px;
    float: left;
    text-align: center;
}

.person img {
    width: 132px;
    height: 132px;
    border-radius: 50%;
    border: 2px solid #eee;
}