html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: #444;
    color: #eee;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    margin: 0;
}

a {
    color: #c07be2;
}

ul, ol, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

input[type=text] {
    width: 100%;
    font-size: 1.5em;
}

h1 {
    margin: 0;
    font-weight: normal;
}
h2 {
    margin: 0;
    font-weight: normal;
}

.header {
    margin: 0 1vw 1vw;
}

.comparison {
    display: flex;
}

.column {
    width: 29.33vw;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    background-color: #333;
    margin: 0 1vw;
    padding: 1vw;
}

.person-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: stretch;
}

.cell {
    width: 100%;
    margin: 5px;
}

.person {
    text-align: center;
    white-space: normal;
}

.person .image {
    border-radius: 50%;
    border: 2px solid #eee;
    overflow: hidden;
    height: 31.33vw;
}

.person img {
    width: 100%;
    height: 100%;
}

@media(min-width: 750px) {
    .by-media-component .cell {
        width: auto;
    }
    .by-media-component .person {
        width: 132px;
    }
    .by-media-component .person .image {
        width: 132px;
        height: 132px;
    }
}



.auto-complete {
    position: relative;
}

.auto-complete-results {
    position: absolute;
    width: 100%;
    background-color: #555;
}

.auto-complete-results li {
    padding: 5px;
    cursor: pointer;
    overflow-x: hidden;
}

.auto-complete-results li:hover {
    background-color: #666;
}

.auto-complete-results .label {
    background-color: #111;
    padding: 2px 5px;
    border-radius: 5px;
}

.auto-complete-results .selected-item {
    background-color: #111;
    padding: 10px;
    font-weight: bold;
    margin: 5px 0;
}

.auto-complete-results .selected-item img {
    display: block;
    max-width: 100%;
    border: 2px solid #eee;
    margin-bottom: 5px;
}

.footer {
    margin: 1vw;
}

actor-selector {
    width: 100%;
}

.by-actor-component .selected-actor {
    text-align: center;
}

.by-actor-component .selected-actor .image {
    border-radius: 50%;
    border: 2px solid #eee;
    overflow: hidden;
    height: 31.33vw;
    max-width: 175px;
    max-height: 175px;
    margin: 0 auto;
}
.by-actor-component .selected-actor img {
    width: 100%;
    margin-top: -25%;
}

.by-actor-component .media-item {
    text-align: center;
    white-space: normal;
}

.by-actor-component .media-item .image {
    border: 2px solid #eee;
    overflow: hidden;
    font-size: 0;
}

.by-actor-component .media-item img {
    width: 100%;
    height: 100%;
}

@media(min-width: 525px) {
    .by-actor-component .cell {
        width: auto;
    }
    .by-actor-component .media-item {
        width: 150px;
    }
    .by-actor-component .media-item .image {
        width: 150px;
        height: 225px;
    }
}