/* You can add global styles to this file, and also import other style files */
body {
    background-color: #444;
    color: #eee;
}

ul, ol, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

input[type=text] {
    width: 100%;
    font-size: 1.5em;
}

.comparison {
    display: flex;
}

.comparison > div {
    flex-grow: 1;
    padding: 10px;
    margin: 10px;
    width: 33%;
    border: 1px solid #eee;
}

.auto-complete-results {
    position: fixed;
    width: 200px;
    background-color: #555;
}

.auto-complete-results li {
    padding: 5px;
    cursor: pointer;
    overflow-x: hidden;
}

.auto-complete-results li:hover {
    background-color: #666;
}

.selected-item {
    background-color: #111;
    padding: 10px;
    font-weight: bold;
    max-width: 300px;
    margin: 5px auto;
}

.selected-item img {
    display: block;
    max-width: 100%;
    border: 2px solid #eee;
    margin-bottom: 5px;
    

}